#score {
    text-align: center;
}

#canvas {
    background: url(images/background1.jpg);
}


.back {
    height  : 100%;
    width   : 100%;
    position: relative;
    z-index: 1;
}


.div{
    z-index: 2;
    position: relative;

}

body{
    position: absolute;
    background: url(images/universe2.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color: white;
}

#info{
    color: white;
}

#score{
    color: white;
}

.instruction{
    color: white;
}
#rank{
    color: white;
    font-size:40px;
}
#time{
    font-size: 50px;
}
#score1{
    font-size: 50px;
}
#diftitle{
    color: white;
}
#ranktitle{
    color: white;
}
.ranking{
    position: absolute;
    top:120px;
    right:0px;
    float: right;
    
}
